<form method="post" action="/figures">
<label>Name</label> <input type="text" id="figure_name" name="figure[name]"><br>
<br>
<label><h1>Titles</h1></label>
<% Title.all.each do |title| %>
    <label><%= title.name %></label>
    <input type="checkbox" id="title_<%=title.id%>" name="figure[title_ids][]" value="<%= title.id%>"><br>
<% end%>
<label><h1>Create New Title:</h1></label>
<input type="text" id="new_title" name="title[name]"><br>

<label><h1>Landmarks</h1></label>
<% Landmark.all.each do |landmark| %>
    <label><%= landmark.name %></label>
    <input type="checkbox" id="landmark_<%=landmark.id%>" name="figure[landmark_ids][]" value="<%=landmark.id%>"><br>
<%end%>

<label><h1>Create New Landmark:</h1><label>
Name:<input type="text" id="new_landmark" name="landmark[name]">
Year:<input type="text" name="landmark[year_completed]">
<input type="submit" value="Create New Figure">
</form>